#nav li {
    float: left;
    margin-right: 30px;
    list-style-type: none;
  }

  #nav li a {
      color:white;
      font-size:30px;
      word-spacing: 5px;
      margin-right: 10px;
  }

  @media screen and (max-width: 700px) {
    #nav li a {
    font-size:20px;
    margin-right:5px;
    padding-left:12px;
    }
  }

  @media screen and (max-width: 800px) {
    #nav li {
        float: left;
        clear: left;
    }
  }

  #hero-image{
    height:550px;
    width:100%;
    background: url("https://i.imgur.com/Wr7l4xb.jpg") no-repeat center center;
    animation-name: hero-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
  }
  
  #hero-outer{
    height:550px;
    width:100%;
    overflow: hidden;
    position: relative;
  }

  @keyframes hero-zoom {
    from{
      transform: scale(1.1);
    }
    to{
      transform: scale(1.0);
    }
  }

  @media screen and (max-width: 800px) {
    #hero-image {
      height:250px;
    }
  }

  @media screen and (max-width: 800px) {
    #hero-outer {
      height:250px;
    }
  }