#nav li {
    float: left;
    margin-right: 30px;
    list-style-type: none;
  }

  #nav li a {
      color:white;
      font-size:30px;
      word-spacing: 5px;
      margin-right: 10px;
  }

  @media screen and (max-width: 700px) {
    #nav li a {
    font-size:20px;
    margin-right:5px;
    padding-left:12px;
    }
  }

  @media screen and (max-width: 800px) {
    #nav li {
        float: left;
        clear: left;
    }
  }

  #hero-image{
    height:550px;
    width:100%;
    background: url("https://i.imgur.com/Wr7l4xb.jpg") no-repeat center center;
    animation-name: hero-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
  }
  
  #hero-outer{
    height:550px;
    width:100%;
    overflow: hidden;
    position: relative;
  }

  @keyframes hero-zoom {
    from{
      transform: scale(1.1);
    }
    to{
      transform: scale(1.0);
    }
  }

  @media screen and (max-width: 800px) {
    #hero-image {
      height:250px;
    }
     #hero-outer {
      height:250px;
    }
  }

  #hero-text, h2{
    color: #ffffff;
  }

#hero-text {
  font-size: 60%;
  font-family: "Open Sans";
  letter-spacing: 4px;

  width: 300px;
  height: 200px;

  padding-top: 10px;
  padding-left: 10px;

  background-color: rgba(151, 25, 123, .5);

  bottom: 30px;
  right: 150px;

  position: sticky;
}