/* [ON BIG SCREEN] */
/* (A) WRAPPER */
#hamnav {
  width: 60%;
}

/* (B) HORIZONTAL MENU ITEMS */
#hamitems {
  display: inline;
  float: right;}

#hamitems a {
  flex-grow: 1;
  flex-basis: 0;
  padding: 13px;
  color: white;
  text-decoration: none;
  margin-right: 10px;
  font-size:28px;
  background-color:#15812C;
}
#hamitems a:hover { background: #971930; }

/* (C) HIDE HAMBURGER */
#hamnav label, #hamburger { display: none; }

/* [D ON MEDIUM SCREENS] */
@media screen and (max-width: 835px){
  #hamitems a {font-size:23px;}
}


/* [E ON SMALL SCREENS] */
@media screen and (max-width: 740px){
  /* (A) BREAK INTO VERTICAL MENU */
  #hamitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-top: 1px solid #0A4016;
    font-size: 1.8em;
  }
 
  /* (F) SHOW HAMBURGER ICON */
  #hamnav label { 
    display: inline;
    position: absolute; 
    top: 0; 
    right: 0;
    color: white;
    background: #0A4016;
    font-size: 2.5em;
    padding: 1px;
  }

  /* (G) TOGGLE SHOW/HIDE MENU */
  #hamitems { display: none; }
  #hamnav input:checked ~ #hamitems { display: block; }
}

/*Hero Image**/
  #hero-image {
    height:550px;
    width:100%;
    background: url('../img/eat4.jpg' ) no-repeat center center;
    animation-name: hero-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    
  }
  
  #hero-outer{
    height:550px;
    width:100%;
    overflow: hidden;
    position: relative;
    background-color:#199734;
  }

  @keyframes hero-zoom {
    from{
      transform: scale(1.1);
    }
    to{
      transform: scale(1.0);
    }
  }

  @media screen and (max-width: 800px) {
    #hero-image {
      height:250px;
    }
     #hero-outer {
      height:250px;
    }
  }

  #hero-text h2{
    color: #ffffff;
  }

#hero-text {
  font-size: 60%;
  font-family: "Open Sans", "Arial";
  letter-spacing: 4px;

  width: 300px;
  height: 200px;

  padding-top: 10px;
  padding-left: 10px;

  background-color: rgba(151, 25, 123, .5);

  bottom: 30px;
  right: 150px;

  position: sticky;
}

/*Quotation line on home page**/
#quote{
  width: 100%;
  background-color: #199734;
  font-size: 30px;
  color: white;
}

@media screen and (max-width: 800px) {
  #quote{
    font-size: 20px;
    font-family: "Open sans", "Arial";
  }
}

/*About**/
#about {
  padding-top:2%;
}

#about h2{
 font-family: "dancing script", Arial;
 color: #0E561D;
 style: bold;
 font-size: 38px;
 padding-left: 4%;
 padding-right: 4%;
 text-align: left;
}

#about p {
  font-family: "Open Sans", Arial;
  style: bold;
  font-size: 20px;
  padding-left: 3%;
 padding-right: 6%;
 text-align: left;
 }

 @media screen and (max-width: 800px) {
  #about h2{
    font-size: 30px;
    text-align: left;
  }
  
  #about p{
    font-size: 18px;
    font-family: "Open sans", "Arial";
  }
}

#booksection{
  background-color: rgba(151, 25, 123, .2);
  padding-top:1%;
  text-align: center;
}

#f{
  color: rgba (151, 25, 123);
  padding-left: 20px;
}

#table-image{
  background: url("https://i.imgur.com/IVV0dsS.jpg") no-repeat center center;
  margin-right:0;
  margin-left: auto;
  display:block;
  font-family: "dancing script", Arial;
}

/*Bottom bar - Opening Times/Location*/
#location{
  padding-left:2%;
  background-color:#64C278;
}

#location p {
  font-family: "Open Sans", Arial;
  font-weight: bold;
}

#location h2 {
  font-family: "dancing script", Arial;
  color: #0A4016;
  }

@media screen and (max-width: 1000px) {
  #location{
    text-align: center;
    font-size: 21px;
  }
#location .i {
  size-adjust: 8px;
}
}

/*Footer**/
#footer{
  background-color:#199734;
}

#footer h2{
  font-family:'Dancing Script','Arial'; 
  font-size:26px;
  color:white;
  padding-top:18px;
  text-align: center;
}

#footer ul a {
  color: white;
  font-size:50px;
  text-align: center;
  padding-left: 6%;
  padding-right:6%;
}

@media screen and (max-width: 800px) {
  #footer ul a {
    font-size:30px;
    padding-left: 2%;
    padding-right:4%;
  }
}

/*Book a Table Page**/

#split-banner {
  background-color: rgb(151, 25, 123, .2) ;
}

/*Book a Table - Reserved Image**/
#table-image {
  height:200px;
  max-width:100%;
  background: url('../img/res-3.jpg' ) no-repeat center center;
  animation-name: table-zoom;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

/*Book a Table - Flower Image**/
#tabflow-image {
  height:200px;
  max-width:100%;
  background: url('../img/flow1.jpg' ) no-repeat center center;
}

#book-text h2 {
  font-family: "dancing script", Arial;
  color: 151, 25, 123;
  font-size:35px;
  color: rgba(151, 25, 123, .9);
  padding-top:5px;
  padding-bottom:8px;
  }

  #coffab {
    height:110px;
    min-width:100%;
    background: url('../img/coffban3.jpg' ) no-repeat center center;
  }

  /*Menu Hero**/
  #menu-hero{
    display: inline;
    height:260px;
    width:100%;
    background: url("https://i.imgur.com/UQWtTLc.png") no-repeat center center;
    padding-top:10px;
  }
  
/*Menus**/

  #menus {
    background-color:#BDE1C5;
    padding-top:15px;
    align-items: center;
    text-align: center;
    font-family: "Open Sans", Arial;
    padding-bottom: 15px;
    font-style: bold;
  }
  
 #menus h2 {
  font-family: "dancing script", Arial;
  color: #199734;
  font-size: 40px;px;
  text-decoration: underline;
 }

 #menus h3 {
  font-family:"Open Sans", Arial;
  color: white;
  font-weight: bold;
  font-size: 32px;
  padding-top:16px;
  background-color:rgba(151, 25, 123, .5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 }

 #menus h3:hover { text-decoration:underline; }

#tea{
  background: url('../img/tea.jpg' ) no-repeat center center;
  height:230px;
}

#smooth{
  background: url('../img/smooth.jpg' ) no-repeat center center;
  height:230px;
}

#lunch{
  background: url('../img/snack.jpg' ) no-repeat center center;
  height:230px;
}

/*Home Page - Review section**/
#revs {
  background-color:#BDE1C5;
}


